<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjt.demo.springaopdemo.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.cjt.demo.springaopdemo.entity.Employee">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="ssn" jdbcType="VARCHAR" property="ssn"/>
        <result column="salary" jdbcType="DOUBLE" property="salary"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap" parameterType="integer">
        select id,
               name,
               gender,
               phone,
               email,
               ssn,
               salary,
               address,
               create_time,
               update_time
        from employee
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByPage" resultMap="BaseResultMap"
            parameterType="com.cjt.demo.springaopdemo.params.EmployeePageReq">
        select  id,
                name,
                gender,
                phone,
                email,
                ssn,
                salary,
                address,
                create_time,
                update_time
        from employee
        <where>
            <if test="req.name != null and req.name != ''">
                AND name LIKE #{req.name,jdbcType=VARCHAR}'%'
            </if>
            <if test="req.gender != null and req.gender != ''">
                AND gender = #{req.gender,jdbcType=VARCHAR}
            </if>
            <if test="req.phone != null and req.phone != ''">
                AND phone LIKE #{req.phone,jdbcType=VARCHAR}'%'
            </if>
            <if test="req.email != null and req.email != ''">
                AND email LIKE #{req.email,jdbcType=VARCHAR}'%'
            </if>
            <if test="req.age != null and req.age != ''">
                AND age = #{req.age,jdbcType=VARCHAR}
            </if>
            <if test="req.address != null and req.address != ''">
                AND address LIKE #{req.address,jdbcType=VARCHAR}'%'
            </if>
        </where>
    </select>

</mapper>

